<aside>
	<div class="panel radius">
		<h3>欢迎</h3>
		<p>
			This is a site for those interested in webdesign and programming, combined with a splash of healthy living and a page for literary musings of all sorts! Check out our latest programming post;
		<p class="text-left">
		<a href="http://kerriosity.com/code/beginning-C/">
		<img class="b30" src="http://i.imgur.com/9AljWert.png&amp;text=Ugly+Ad+Space" alt="">
		</a>
		<br>
			<a href="http://kerriosity.com/code/beginning-C/">Beginning with C</a>
		</p>

		</p>
	</div>

	<div class="border-dotted radius b30">
	This is Kerrie Durham, the developer of this site
		<img src="http://i.imgur.com/eXzaYZB.png?1" title="source: imgur.com" />
		<p class="text-left">
			<a href="http://kerriosity.com/about">Learn More</a>
		</p>
	</div>



</aside>